<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            VFR - Watch Tower
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <button
            class="btn btn-dark"
            (click)="open(classic1, 'modal_mini', 'sm', 'Add New Watch Tower')"
          >
            Add New Watch Tower
          </button>

          <ng-template #classic1 let-c="close" let-d="dismiss">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-dark">
                    <div class="text-muted text-center mb-3">
                      <h2 class="mb-0 text-white">{{ processTitle }}</h2>
                    </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <form>
                      <small *ngIf="!validation" class="font-weight-bold text-red">Error: Duplication</small>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter callsign"
                          [(ngModel)]="formInput.callsign"
                          [ngModelOptions]="{ standalone: true }"
                        />
                        <small *ngIf="!validation" class="font-weight-bold text-red float-right">* Duplicate Value</small>
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter altmod"
                          [(ngModel)]="formInput.altmod"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter model"
                          [(ngModel)]="formInput.model"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter toa"
                          [(ngModel)]="formInput.toa"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter operator"
                          [(ngModel)]="formInput.operator"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter from"
                          [(ngModel)]="formInput.from"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter ata"
                          [(ngModel)]="formInput.ata"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter to"
                          [(ngModel)]="formInput.to"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter atd"
                          [(ngModel)]="formInput.atd"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter fr"
                          [(ngModel)]="formInput.fr"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter tof"
                          [(ngModel)]="formInput.tof"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter cl"
                          [(ngModel)]="formInput.cl"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter total"
                          [(ngModel)]="formInput.total"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter remarks"
                          [(ngModel)]="formInput.remarks"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="text-center">
                        <button class="btn btn-dark">
                          Submit
                        </button>
                        <button
                          class="btn btn-secondary"
                          data-dismiss="modal"
                          (click)="c('Close click')"
                        >
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <!-- <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header text-muted text-uppercase">
                    Number of patients according to triage ({{ todaydate }})
                  </div>
                  <div class="card-body">
                    <div id="chartdiv" style="width: 100%; height: 400px"></div>
                  </div>
                </div>
              </div>
            </div> -->
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Watch Tower List</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="Callsign"></ngx-datatable-column>
            <ngx-datatable-column name="Altmod"></ngx-datatable-column>
            <ngx-datatable-column name="Model"></ngx-datatable-column>
            <ngx-datatable-column name="Toa"></ngx-datatable-column>
            <ngx-datatable-column name="Operator"></ngx-datatable-column>
            <ngx-datatable-column name="From"></ngx-datatable-column>
            <ngx-datatable-column name="Ata"></ngx-datatable-column>
            <ngx-datatable-column name="To"></ngx-datatable-column>
            <ngx-datatable-column name="Atd"></ngx-datatable-column>
            <ngx-datatable-column name="Fr"></ngx-datatable-column>
            <ngx-datatable-column name="Tof"></ngx-datatable-column>
            <ngx-datatable-column name="Cl"></ngx-datatable-column>
            <ngx-datatable-column name="Total"></ngx-datatable-column>
            <ngx-datatable-column name="Remarks"></ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <button
                  class="btn btn-dark btn-sm"
                  (click)="editWatchTower(row, classic1, true)"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-sm btn-warning" (click)="editWatchTower(row, classic1, false)">
                  <i class="fas fa-lightbulb"></i>
                </button>

                <!-- <button
                        class="btn btn-danger btn-sm"
                        (click)="deleteWatchTower(value)"
                      >
                        <i class="fas fa-trash"></i>
                      </button> -->
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <label class="custom-toggle">
                  <input type="checkbox" checked="" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  ></span>
                </label>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
