<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Monthly Invoice Approval
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>

          <ng-template #popTemplate>
            <h4 class="text-center">Information</h4>
            <small class="text-justify"
              >User able to approve changes in database and approve invoice
              before send bill to client.</small
            >
          </ng-template>
          <button
            class="btn btn-icon btn-sm btn-dark"
            type="button"
            [popover]="popTemplate"
            placement="right"
            [outsideClick]="true"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-info-circle"></i
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- <div class="card-header">
          <h3 class="mb-0">Rate List</h3>
        </div> -->
        <div class="card-body">
          <div class="alert alert-default" role="alert">
            <strong>Note!</strong> Click on data to expand the row
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            #myTable
            class="bootstrap selection-cell"
            style="height: 500px;"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
            [scrollbarV]="true"
            [scrollbarH]="true"
          >
            <ngx-datatable-row-detail
              [rowHeight]="200"
              #myDetailRow
              (toggle)="onDetailToggle($event)"
            >
              <ng-template
                let-row="row"
                let-expanded="expanded"
                ngx-datatable-row-detail-template
              >
                <div style="padding-left: 35px;" class="table-responsive">
                  <table class="table table-borderless table-sm">
                    <tbody>
                      <tr>
                        <td class="font-weight-bold">Approved Invoice</td>
                        <td>{{ row.approvedinvoice }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">
                          Total Completed VFR Data
                        </td>
                        <td>{{ row.totalcompletedvfrdata }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">
                          Total Completed TFL Data
                        </td>
                        <td>{{ row.totalcompletedtfldata }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">
                          Total Incomplete VFR Data
                        </td>
                        <td>{{ row.totalincompletevfrdata }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">
                          Total Incomplete TFL Data
                        </td>
                        <td>{{ row.totalincompletetfldata }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <ngx-datatable-column name="Year">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div (click)="toggleExpandRow(row)">{{ row.year }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Month">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div (click)="toggleExpandRow(row)">{{ row.month }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Approveddate">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div (click)="toggleExpandRow(row)">{{ row.approveddate }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <span
                  *ngIf="row.status == 'Approved'"
                  class="badge badge-success"
                  >Approved</span
                >
                <span
                  *ngIf="row.status == 'Pending'"
                  class="badge badge-warning"
                  >Pending</span
                >
                <span
                  *ngIf="row.status == 'Rejected'"
                  class="badge badge-danger"
                  >Rejected</span
                >
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <div *ngIf="row.status == 'Pending'">
                  <button class="btn btn-success btn-sm" (click)="approve()">
                    Approve
                  </button>

                  <button class="btn btn-danger btn-sm" (click)="reject()">
                    Reject
                  </button>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
