<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            VFR - Checker Maker
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <!-- <div class="row">
                  <div class="col">
                    <div class="card">
                      <div class="card-header text-muted text-uppercase">
                        Number of patients according to triage ({{ todaydate }})
                      </div>
                      <div class="card-body">
                        <div id="chartdiv" style="width: 100%; height: 400px"></div>
                      </div>
                    </div>
                  </div>
                </div> -->
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Checker Maker List</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive" id="first-list">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th class="sort" data-sort="dateupload" scope="col">
                    Date Upload
                  </th>

                  <th class="sort" data-sort="username" scope="col">
                    Username
                  </th>

                  <th scope="col"></th>
                </tr>
              </thead>

              <tbody class="list">
                <tr>
                  <td class="dateupload"><a href="#">14/06/2019</a></td>

                  <td class="username">Corbin Harwood</td>

                  <td class="text-right">
                    <button class="btn btn-success">Approve</button>
                    <button class="btn btn-dark">Edit</button>
                  </td>
                </tr>

                <tr>
                  <td class="dateupload"><a href="#">18/11/2019</a></td>

                  <td class="username">Robena Gascoyen</td>

                  <td class="text-right">
                    <button class="btn btn-success">Approve</button>
                    <button class="btn btn-dark">Edit</button>
                  </td>
                </tr>

                <tr>
                  <td class="dateupload"><a href="#">28/01/2020</a></td>

                  <td class="username">Winny Koppes</td>

                  <td class="text-right">
                    <button class="btn btn-success">Approve</button>
                    <button class="btn btn-dark">Edit</button>
                  </td>
                </tr>

                <tr>
                  <td class="dateupload"><a href="#">08/04/2019</a></td>

                  <td class="username">Lucas Hrishchenko</td>

                  <td class="text-right">
                    <button class="btn btn-success">Approve</button>
                    <button class="btn btn-dark">Edit</button>
                  </td>
                </tr>

                <tr>
                  <td class="dateupload"><a href="#">09/06/2019</a></td>

                  <td class="username">Clim Margrett</td>

                  <td class="text-right">
                    <button class="btn btn-success">Approve</button>
                    <button class="btn btn-dark">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card-footer py-4">
            <nav aria-label="...">
              <pagination
                [totalItems]="25"
                class="justify-content-end mb-0"
                previousText="<i class='fas fa-angle-left'></i>"
                nextText="<i class='fas fa-angle-right'></i>"
              >
              </pagination>
            </nav>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="Callsign"></ngx-datatable-column>
            <ngx-datatable-column name="Altmod"></ngx-datatable-column>
            <ngx-datatable-column name="Model"></ngx-datatable-column>
            <ngx-datatable-column name="Toa"></ngx-datatable-column>
            <ngx-datatable-column name="Operator"></ngx-datatable-column>
            <ngx-datatable-column name="From"></ngx-datatable-column>
            <ngx-datatable-column name="Ata"></ngx-datatable-column>
            <ngx-datatable-column name="To"></ngx-datatable-column>
            <ngx-datatable-column name="Atd"></ngx-datatable-column>
            <ngx-datatable-column name="Fr"></ngx-datatable-column>
            <ngx-datatable-column name="Tof"></ngx-datatable-column>
            <ngx-datatable-column name="Cl"></ngx-datatable-column>
            <ngx-datatable-column name="Total"></ngx-datatable-column>
            <ngx-datatable-column name="Remarks"></ngx-datatable-column>
            <ngx-datatable-column name="Error"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
