<div class="header pb-6 background-theme">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white  d-inline-block mb-0">
            Invoice
          </h6>

          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav> -->

          <!-- <ng-template #popTemplate>
            <h4 class="text-center">Information</h4>
            <small class="text-justify"
                >User able to upload VFR and TFL data in this module. This system
                will automatically check for error, calculate the invoice and
                generate invoice.<br />
                User will need to update the error data in order to generate
                invoice.<br />
                After cleaning the data, user will need to press submit button in
                order to save into database.</small
              >
          </ng-template> -->
          <!-- <button
            class="btn btn-icon btn-sm btn-dark"
            type="button"
            [popover]="popTemplate"
            placement="right"
            [outsideClick]="true"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-info-circle"></i
            ></span>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--8">
  <div class="row">
    <div class="col-xl-3 col-md-8">
      <div class="card bg-gradient-primary" style="height: 120px !important;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Total flight data
              </h5>
              <span class="h2 font-weight-bold mb-0 text-white">
                {{ fpldatas.length | number }}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                <i class="fas fa-plane-departure"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card bg-gradient-danger" style="height: 120px !important;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Total airlines registered
              </h5>
              <span class="h2 font-weight-bold mb-0 text-white">
                {{ airlines.length | number }}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                <i class="fas fa-globe-asia"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card bg-gradient-success" style="height: 120px !important;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Archived flight data
              </h5>
              <span class="h2 font-weight-bold mb-0 text-white">
                {{ archivedfpldatas.length | number }}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                <i class="fas fa-archive"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card bg-gradient-warning" style="height: 120px !important;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Errors data occured
              </h5>
              <span class="h2 font-weight-bold mb-0 text-white">
                {{ errorfpldatas.length | number }}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                <i class="fas fa-exclamation-triangle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h3 class="mb-0">List of Airlines</h3>
            </div>
            <div class="col-auto"></div>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                    (change)="entriesChange($event)">
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <!-- <option value="-1" [selected]="entries == -1">All</option> -->
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input type="search" class="form-control form-control-sm" placeholder="Search records"
                    aria-controls="datatable" (keyup)="filterTable($event)" />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined" [rows]="temp"
            (activate)="onActivate($event)" [scrollbarH]="true">
            <ngx-datatable-column [width]="40">
              <ng-template ngx-datatable-header-template>
                <span>No.</span>
              </ng-template>
              <ng-template let-row="temp" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{
                rowIndex +1
              }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Airline</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.organisation.name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Office Number</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.organisation.office_num }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>No. Flight Data</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.total_flight }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Total Amount</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                RM {{ row.total_amount | number }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <a href="javascript:void(0)" title="click to view" >
                  <i class="fas fa-eye"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="javascript:void(0)" title="click to download invoice" >
                  <i class="fas fa-download"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable> 
        </div>
      </div>
    </div>
  </div>
</div>

<!-- edit modal -->
<ng-template #view>

  <div class="modal-header bg-default viewtemplate">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Arline Detail
    </h6>

    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModalModal()">
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Invoice Period</label>
          <input class="form-control" [(ngModel)]="selectedRow.invoice_period" [ngModelOptions]="{standalone: true}"
            type="text" disabled>
        </div>
        <div class="form-group">
          <label class="form-control-label">CID</label>
          <input class="form-control" [(ngModel)]="selectedRow.cid" [ngModelOptions]="{standalone: true}"
            type="text">
        </div>
        <div class="form-group">
          <label class="form-control-label">Company Name</label>
          <input class="form-control" [(ngModel)]="selectedRow.company_name" [ngModelOptions]="{standalone: true}" type="text">
        </div>
        <div class="form-group">
          <label class="form-control-label">Total Charges</label>
          <input class="form-control" placeholder="total_charge | number" [(ngModel)]="selectedRow.dist"
            [ngModelOptions]="{standalone: true}" type="text" disabled>
        </div>
        <div class="form-group">
          <label class="form-control-label">Total Flight</label>
          <input class="form-control" placeholder="selectedRow.total_flight | number" [(ngModel)]="selectedRow.dist"
            [ngModelOptions]="{standalone: true}" type="text" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Domestic Flight</label>
          <input class="form-control" [(ngModel)]="selectedRow.domestic" [ngModelOptions]="{standalone: true}"
            type="text">
        </div>
        <div class="form-group">
          <label class="form-control-label">Inbound Flight</label>
          <input class="form-control" [(ngModel)]="selectedRow.inbound" [ngModelOptions]="{standalone: true}" type="text">
        </div>
        <div class="form-group">
          <label class="form-control-label">Outbound Flight</label>
          <input class="form-control" placeholder="selectedRow.outbound" [(ngModel)]="selectedRow.dist"
            [ngModelOptions]="{standalone: true}" type="text" disabled>
        </div>
        <div class="form-group">
          <label class="form-control-label">Overflight</label>
          <input class="form-control" [(ngModel)]="selectedRow.overflight" [ngModelOptions]="{standalone: true}" type="text">
        </div>
        <div class="form-group">
          <label class="form-control-label">Others</label>
          <input class="form-control" placeholder="selectedRow.other" [(ngModel)]="selectedRow.dist"
            [ngModelOptions]="{standalone: true}" type="text" disabled>
        </div>

      </div>
    </div>



  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-danger" data-dismiss="modal" type="button" (click)="closeModalModal()">
      Cancel
    </button>
    <button class="btn btn-success ml-auto" data-dismiss="modal" type="button" (click)="updateData()">
      Save
    </button>
  </div>

</ng-template>