<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Aging Invoice
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>

          <ng-template #popTemplate>
            <h4 class="text-center">Information</h4>
            <small class="text-justify"
              >User able to view and export ageing invoice of each
              airline.</small
            >
          </ng-template>
          <button
            class="btn btn-icon btn-sm btn-dark"
            type="button"
            [popover]="popTemplate"
            placement="right"
            [outsideClick]="true"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-info-circle"></i
            ></span>
          </button>
        </div>

        <!-- <div class=" col-lg-6 col-5 text-right">
          <button
            class="btn btn-dark"
            (click)="
              open(classic1, 'modal_mini', 'sm', 'Add New Aging Invoice')
            "
          >
            Add New Aging Invoice
          </button>

          <ng-template #classic1 let-c="close" let-d="dismiss">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-dark">
                    <div class="text-muted text-center mb-3">
                      <h2 class=" mb-0 text-white">{{ processTitle }}</h2>
                    </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <form>
                      <div class="form-group">
                        <select
                          class="form-control"
                          [(ngModel)]="formInput.ctg"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option selected>Please select CTG</option>
                          <option value="OVF">OVF</option>
                          <option value="OUB">OUB</option>
                          <option value="IR">IR</option>
                          <option value="INB">INB</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <input
                          type="datetime-local"
                          class="form-control"
                          placeholder="Enter date"
                          [(ngModel)]="formInput.date"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter fpl no"
                          [(ngModel)]="formInput.fplno"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter act type"
                          [(ngModel)]="formInput.actype"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <select
                          class="form-control"
                          [(ngModel)]="formInput.dep"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option value="">Please select dep</option>
                          <option value="WSSL">WSSL</option>
                          <option value="LBSF">LBSF</option>
                          <option value="VTSM">VTSM</option>
                          <option value="WSSS">WSSS</option>
                          <option value="VTSP">VTSP</option>
                          <option value="WMKK">WMKK</option>
                          <option value="ZGGG">ZGGG</option>
                          <option value="NHHH">NHHH</option>
                          <option value="ZSHC">ZSHC</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <select
                          class="form-control"
                          [(ngModel)]="formInput.dest"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option value="">Please select dest</option>
                          <option value="OMDW">OMDW</option>
                          <option value="WIHH">WIHH</option>
                          <option value="VIDP">VIDP</option>
                          <option value="VCBI">VCBI</option>
                          <option value="VTSP">VTSP</option>
                          <option value="VANP">VANP</option>
                          <option value="M765">M765</option>
                          <option value="WSSS">WSSS</option>
                          <option value="WMSA">WMSA</option>
                          <option value="WMKL">WMKL</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter route"
                          [(ngModel)]="formInput.route"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="number"
                          class="form-control"
                          placeholder="Enter distance"
                          [(ngModel)]="formInput.dist"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="form-group">
                        <select
                          class="form-control"
                          [(ngModel)]="formInput.rate"
                          [ngModelOptions]="{ standalone: true }"
                        >
                          <option value="">Please select rate</option>
                          <option value="-">-</option>
                          <option value="0.1">0.1</option>
                          <option value="0.2">0.2</option>
                          <option value="0.3">0.3</option>
                          <option value="0.4">0.4</option>
                          <option value="0.5">0.5</option>
                          <option value="0.6">0.6</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter amount"
                          [(ngModel)]="formInput.amount"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                      <div class="text-center">
                        <button class="btn btn-dark">
                          Submit
                        </button>
                        <button
                          class="btn btn-secondary"
                          data-dismiss="modal"
                          (click)="c('Close click')"
                        >
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label class="form-control-label">Search</label>
                <input type="text" class="form-control form-control-sm" />
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="form-control-label">Start date</label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-calendar"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    placeholder="Select a date"
                    class="form-control form-control-sm"
                    bsDatepicker
                    [bsConfig]="{
                      isAnimated: true,
                      containerClass: 'theme-default'
                    }"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="form-control-label">End date</label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-calendar"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    placeholder="Select a date"
                    class="form-control form-control-sm"
                    bsDatepicker
                    [bsConfig]="{
                      isAnimated: true,
                      containerClass: 'theme-default'
                    }"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button
              type="button"
              class="btn btn-dark btn-sm"
              (click)="searchTable()"
            >
              Filter
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="resetTable()"
            >
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header text-muted text-uppercase">
                    Number of patients according to triage ({{ todaydate }})
                  </div>
                  <div class="card-body">
                    <div id="chartdiv" style="width: 100%; height: 400px"></div>
                  </div>
                </div>
              </div>
            </div> -->
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h3 class="mb-0">Aging Invoice List</h3>
            </div>
            <div class="col-auto">
              <div class="mr-1 dropdown" dropdown>
                <button
                  class="btn btn-dark dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  dropdownToggle
                >
                  Export
                </button>
                <div
                  aria-labelledby="dropdownMenuButton"
                  *dropdownMenu
                  class="dropdown-menu"
                >
                  <a class="dropdown-item" href="javascript:void(0)"
                    >Export as PDF</a
                  >
                  <a class="dropdown-item" href="javascript:void(0)"
                    >Export as Excel</a
                  >
                  <a class="dropdown-item" href="javascript:void(0)"
                    >Export as Report</a
                  >
                  <a class="dropdown-item" href="javascript:void(0)">Print</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="Companyname"></ngx-datatable-column>
            <ngx-datatable-column name="Q1"></ngx-datatable-column>
            <ngx-datatable-column name="Q2"></ngx-datatable-column>
            <ngx-datatable-column name="Q3"></ngx-datatable-column>
            <ngx-datatable-column name="Q4"></ngx-datatable-column>
            <ngx-datatable-column name="Debit"> </ngx-datatable-column>
            <ngx-datatable-column name="Credit"> </ngx-datatable-column>
            <ngx-datatable-column name="Totalamount"> </ngx-datatable-column>
          </ngx-datatable>
        </div>
        -->

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Site</th>
                <th>CID</th>
                <th>INV Period</th>
                <th>INV No</th>
                <th>INV Date</th>
                <th>INV Total</th>
                <th>SC Total</th>
                <th>0-1 Months</th>
                <th>1-3 Months</th>
                <th>4-6 Months</th>
                <th>7-12 Months</th>
                <th>13-36 Months</th>
                <th>37-72 Months</th>
                <th>>72 Months</th>
                <th class="text-center">
                  Total Balance<br />Outstanding Amount
                </th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td></td>
                <td colspan="3">Sub-Totals</td>
                <!-- <td>INV Period</td> -->
                <!-- <td>INV No</td> -->
                <td></td>
                <td>586,875.25</td>
                <td>0.00</td>
                <td>5,576.98</td>
                <td>6,785.09</td>
                <td>4,857.45</td>
                <td>4,657,00</td>
                <td>7,958.12</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >0.00</span
                  >
                </td>
              </tr>

              <tr>
                <td></td>
                <td colspan="14">
                  <p class="font-weight-bold">1101 ASIANA AIRLINES</p>
                </td>
              </tr>

              <tr>
                <td>KUL</td>
                <td>1101</td>
                <td>JAN 2020</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                  >
                    105250
                  </span>
                </td>
                <td>2020-02-12</td>
                <td>1,056.00</td>
                <td>0.00</td>
                <td>1,056.00</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >0.00</span
                  >
                </td>
              </tr>

              <tr>
                <td></td>
                <td colspan="3">Sub-Totals</td>
                <!-- <td>JAN 2020</td> -->
                <!-- <td>105247</td> -->
                <td></td>
                <td>1,056.00</td>
                <td>0.00</td>
                <td>1,056.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >0.00</span
                  >
                </td>
              </tr>

              <tr>
                <td></td>
                <td colspan="14">
                  <p class="font-weight-bold">1060 VIETNAM AIRLINES JSC</p>
                </td>
              </tr>

              <tr>
                <td>KUL</td>
                <td>1060</td>
                <td>JAN 2020</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >105247</span
                  >
                </td>
                <td>2020-02-12</td>
                <td>17,834.60</td>
                <td>0.00</td>
                <td>17,834.60</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >0.00</span
                  >
                </td>
              </tr>

              <tr>
                <td></td>
                <td colspan="3">Sub-Totals</td>
                <!-- <td>JAN 2020</td> -->
                <!-- <td>105247</td> -->
                <td></td>
                <td>17,834.60</td>
                <td>0.00</td>
                <td>17,834.60</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >0.00</span
                  >
                </td>
              </tr>

              <tr>
                <td></td>
                <td colspan="14">
                  <p class="font-weight-bold">1127 BANGKOK AIRWAYS PCL</p>
                </td>
              </tr>

              <tr>
                <td>KUL</td>
                <td>1127</td>
                <td>JAN 2020</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >105251</span
                  >
                </td>
                <td>2020-02-12</td>
                <td>21,144.00</td>
                <td>0.00</td>
                <td>21,144.00</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >0.00</span
                  >
                </td>
              </tr>

              <tr>
                <td></td>
                <td colspan="3">Sub-Totals</td>
                <!-- <td>JAN 2020</td> -->
                <!-- <td>105247</td> -->
                <td></td>
                <td>21,144.00</td>
                <td>0.00</td>
                <td>21,144.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >0.00</span
                  >
                </td>
              </tr>

              <tr>
                <td></td>
                <td colspan="14">
                  <p class="font-weight-bold">
                    1137 BELL HELICOPTER ASIA (PTE) LIMITED
                  </p>
                </td>
              </tr>

              <tr>
                <td>KUL</td>
                <td>1137</td>
                <td>OCT 2018</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >102059</span
                  >
                </td>
                <td>2018-11-12</td>
                <td>20.00</td>
                <td>0.00</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>20.00</td>
                <td>-</td>
                <td>-</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >0.00</span
                  >
                </td>
              </tr>

              <tr>
                <td>KUL</td>
                <td>1137</td>
                <td>MAR 2019</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >103121</span
                  >
                </td>
                <td>2019-04-12</td>
                <td>23.00</td>
                <td>0.00</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>23.00</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >0.00</span
                  >
                </td>
              </tr>

              <tr>
                <td></td>
                <td colspan="3">Sub-Totals</td>
                <!-- <td>JAN 2020</td> -->
                <!-- <td>105247</td> -->
                <td></td>
                <td>43.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>23.00</td>
                <td>20.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>
                  <span
                    style="color: blue; text-decoration: underline;"
                    (click)="open(pdfinvoice, '', 'lg', '')"
                    >0.00</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #pdfinvoice let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card mb-0">
        <!-- <div class="card-header">
            <h4 class="m-0">Generated Invoice</h4>
          </div> -->
        <div class="card-body">
          <img
            src="../../../../../assets/img/invoice/invoice-1.jpg"
            style="position: relative; width: 100%;"
          />
          <ngx-qrcode
            [qrc-value]="value"
            qrc-class="aclass"
            qrc-errorCorrectionLevel="L"
            style="position: absolute; top: 10%; left: 45%;"
          >
          </ngx-qrcode>
          <h2
            class="font-weight-bold"
            style="position: absolute; top: 20%; left: 45%;"
          >
            Scan to Pay
          </h2>
          <div class="text-center">
            <button
              class="btn btn-default"
              data-dismiss="modal"
              (click)="c('Close click')"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
