<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Invoice and Database Approval
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>

          <ng-template #popTemplate>
            <h4 class="text-center">Information</h4>
            <small class="text-justify"
              >User able to approve changes in database, new user and generated
              invoice. Once invoice is approved, the system will automatically
              send to customer.
            </small>
          </ng-template>
          <button
            class="btn btn-icon btn-sm btn-dark"
            type="button"
            [popover]="popTemplate"
            placement="right"
            [outsideClick]="true"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-info-circle"></i
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- <div class="card-header">
            <h3 class="mb-0">Rate List</h3>
          </div> -->
        <div class="card-body">
          <div class="alert alert-default" role="alert">
            <strong>Note!</strong> Click on data to expand the row
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-default" (click)="approve()" [disabled]="selected.length <= 0">
                Approve
              </button>
            </div>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            #myTable
            class="bootstrap selection-cell"
            style="height: 500px;"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            [selected]="selected"
            [selectionType]="SelectionType.checkbox"
            [selectAllRowsOnPage]="false"
            (activate)="onActivate($event)"
            (select)="onSelect($event)"
            [scrollbarV]="true"
            [scrollbarH]="true"
          >
            <ngx-datatable-row-detail
              [rowHeight]="200"
              #myDetailRow
              (toggle)="onDetailToggle($event)"
            >
              <ng-template
                let-row="row"
                let-expanded="expanded"
                ngx-datatable-row-detail-template
              >
                <div
                  style="padding-left: 35px; padding-top: 10px;"
                  class="table-responsive"
                >
                  <h4>List of Updates</h4>
                  <ul
                    *ngFor="let list of row.list; let i = index"
                    style="list-style-type: none;"
                  >
                    <li>
                      {{ i + 1 }}.
                      <a [routerLink]="list.link">{{ list.detail }}</a>
                    </li>
                  </ul>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <ngx-datatable-column
              [width]="80"
              [sortable]="false"
              [canAutoResize]="false"
              [draggable]="false"
              [resizeable]="false"
              [headerCheckboxable]="true"
              [checkboxable]="true"
            ></ngx-datatable-column>
            <ngx-datatable-column name="Submissiondate">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div (click)="toggleExpandRow(row)">
                  {{ row.submissiondate }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Officername">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div (click)="toggleExpandRow(row)">{{ row.officername }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Type">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div (click)="toggleExpandRow(row)">{{ row.type }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <button class="btn btn-danger btn-sm" (click)="reject()">
                  Reject
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
