<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Payment List
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>

          <ng-template #popTemplate>
            <h4 class="text-center">Information</h4>
            <small class="text-justify"
              >User able to view and export report of payment.</small
            >
          </ng-template>
          <button
            class="btn btn-icon btn-sm btn-dark"
            type="button"
            [popover]="popTemplate"
            placement="right"
            [outsideClick]="true"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-info-circle"></i
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Start date</label>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-calendar-grid-58"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      placeholder="Select start date"
                      class="form-control"
                      bsDatepicker
                      [bsConfig]="{
                        isAnimated: true,
                        containerClass: 'theme-default'
                      }"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">End date</label>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-calendar-grid-58"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      placeholder="Select end date"
                      class="form-control"
                      bsDatepicker
                      [bsConfig]="{
                        isAnimated: true,
                        containerClass: 'theme-default'
                      }"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button
              type="button"
              class="btn btn-dark btn-sm"
              (click)="searchTable()"
            >
              Filter
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="resetTable()"
            >
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h3 class="mb-0">Payment List</h3>
            </div>
            <div class="col-auto">
              <div class="mr-1 dropdown" dropdown>
                <button
                  class="btn btn-dark dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  dropdownToggle
                >
                  Export
                </button>
                <div
                  aria-labelledby="dropdownMenuButton"
                  *dropdownMenu
                  class="dropdown-menu"
                >
                  <a class="dropdown-item" href="javascript:void(0)"
                    >Export as PDF</a
                  >
                  <a class="dropdown-item" href="javascript:void(0)"
                    >Export as Excel</a
                  >
                  <a class="dropdown-item" href="javascript:void(0)"
                    >Export as Report</a
                  >
                  <a class="dropdown-item" href="javascript:void(0)">Print</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="Invoicenumber">
              <ng-template ngx-datatable-header-template>
                <span>Invoice Number</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div
                  style="color: blue; text-decoration: underline;"
                  (click)="open(pdfinvoice, '', 'lg', '')"
                >
                  {{ row.invoicenumber }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Cid">
              <ng-template ngx-datatable-header-template>
                <span>CID</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Companyname">
              <ng-template ngx-datatable-header-template>
                <span>Company Name</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Paymentdate">
              <ng-template ngx-datatable-header-template>
                <span>Payment Date</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Amount">
              <ng-template ngx-datatable-header-template>
                <span>Amount</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Debit">
              <ng-template ngx-datatable-header-template>
                <span>Debit</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Credit">
              <ng-template ngx-datatable-header-template>
                <span>Credit</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Totalamount">
              <ng-template ngx-datatable-header-template>
                <span>Total Amount</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span [ngClass]="statusBadge(row.paymentstatus)">{{ row.paymentstatus }}</span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #pdfinvoice let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card mb-0">
        <!-- <div class="card-header">
            <h4 class="m-0">Generated Invoice</h4>
          </div> -->
        <div class="card-body">
          <img
            src="../../../../../assets/img/invoice/invoice-1.jpg"
            style="position: relative; width: 100%;"
          />
          <ngx-qrcode
            [qrc-value]="value"
            qrc-class="aclass"
            qrc-errorCorrectionLevel="L"
            style="position: absolute; top: 10%; left: 45%;"
          >
          </ngx-qrcode>
          <h2
            class="font-weight-bold"
            style="position: absolute; top: 20%; left: 45%;"
          >
            Scan to Pay
          </h2>
          <div class="text-center">
            <button
              class="btn btn-default"
              data-dismiss="modal"
              (click)="c('Close click')"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
