<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Management</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-chart-bar text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
				<div class="col-xl-3 col-md-6">
					<div class="card card-stats border-top border-success">
						<div class="card-body">
							<div class="row">
                                <div class="col-auto">
									<div class="icon icon-shape bg-gradient-success text-white rounded-circle shadow">
										<i class="fas fa-plane-departure"> </i>
									</div>
								</div>
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0 text-left">
										Active Airlines
									</h5>
									<span class="h2 font-weight-bold mb-0 text-left"> 2491 </span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats border-top border-primary">
						<div class="card-body">
							<div class="row">
                                <div class="col-auto">
									<div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
										<i class="fas fa-plane"> </i>
									</div>
								</div>
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0 text-left">
										Aircraft Counts
									</h5>
									<span class="h2 font-weight-bold mb-0 text-left"> 1982 </span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats border-top border-info">
						<div class="card-body">
							<div class="row">
                                <div class="col-auto">
									<div class="icon icon-shape bg-info text-white rounded-circle shadow">
										<i class="fas fa-file-invoice-dollar"> </i>
									</div>
								</div>
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0 text-left">
										Total Invoices
									</h5>

									<span class="h2 font-weight-bold mb-0 text-left"> 924 </span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats border-top border-danger">
						<div class="card-body">
							<div class="row">
                                <div class="col-auto">
									<div class="icon icon-shape bg-gradient-danger text-white rounded-circle shadow">
										<i class="fas fa-money-bill-wave"> </i>
									</div>
								</div>
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0 text-left">
										Target Revenue
									</h5>

									<span class="h2 font-weight-bold mb-0 text-left"> RM202345.00</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Operator</label>
                                <select class="form-control form-control-sm custom-select custom-select-sm">
                                    <option selected>Select operator</option>
                                    <option>Operator A</option>
                                    <option>Operator B</option>
                                    <option>Operator C</option>
                                    <option>Operator D</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">CTG</label>
                                <select class="form-control form-control-sm custom-select custom-select-sm">
                                    <option selected>Select CTG</option>
                                    <option>CTG 1</option>
                                    <option>CTG 2</option>
                                    <option>CTG 3</option>
                                    <option>CTG 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Date</label>
                                <input class="form-control form-control-sm" type="date">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">FPL No.</label>
                                <input class="form-control form-control-sm" placeholder="Enter FPL No.">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">AC Type</label>
                                <select class="form-control form-control-sm custom-select custom-select-sm">
                                    <option selected>Select AC type</option>
                                    <option>Type A</option>
                                    <option>Type B</option>
                                    <option>Type C</option>
                                    <option>Type D</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Dep</label>
                                <select class="form-control form-control-sm custom-select custom-select-sm">
                                    <option selected>Select dep</option>
                                    <option>Dep A</option>
                                    <option>Dep B</option>
                                    <option>Dep C</option>
                                    <option>Dep D</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Dest</label>
                                <select class="form-control form-control-sm custom-select custom-select-sm">
                                    <option selected>Select dest</option>
                                    <option>Dest A</option>
                                    <option>Dest B</option>
                                    <option>Dest C</option>
                                    <option>Dest D</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Route</label>
                                <select class="form-control form-control-sm custom-select custom-select-sm">
                                    <option selected>Select route</option>
                                    <option>Route A</option>
                                    <option>Route B</option>
                                    <option>Route C</option>
                                    <option>Route D</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default btn-sm">Filter</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
				<div class="card-body">
					<div id="chartdiv" style="width: 100%; height: 500px"></div>
				</div>
			</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Flight Information List</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center flush-table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Operator</th>
                                <th scope="col">CTG</th>
                                <th scope="col">Date</th>
                                <th scope="col">FPL No.</th>
                                <th scope="col">AC Type</th>
                                <th scope="col">DEP</th>
                                <th scope="col">DEST</th>
                                <th scope="col">Route</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">Malaysia Airlines</th>
                                <td>OUB</td>
                                <td>5/26/2019</td>
                                <td>WDE438</td>
                                <td>IQS719</td>
                                <td>0792</td>
                                <td>EVW988</td>
                                <td>VYT483-JFX667-CON401</td>
                            </tr>
                            <tr>
                                <th scope="row">Malindo Air</th>
                                <td>INB</td>
                                <td>11/22/2019</td>
                                <td>AGE949</td>
                                <td>KMI526</td>
                                <td>9912</td>
                                <td>RCV641</td>
                                <td>MBE511-XGH484-GTY093</td>
                            </tr>
                            <tr>
                                <th scope="row">Firefly</th>
                                <td>IR</td>
                                <td>11/15/2019</td>
                                <td>OHJ134</td>
                                <td>XOV618</td>
                                <td>4831</td>
                                <td>SFJ555</td>
                                <td>GEK834-AFC328-AWH169</td>
                            </tr>
                            <tr>
                                <th scope="row">Malindo Air</th>
                                <td>INB</td>
                                <td>7/16/2019</td>
                                <td>UZR070</td>
                                <td>TZN719</td>
                                <td>8792</td>
                                <td>NVJ289</td>
                                <td>IFS681-ZVK425-VDG894</td>
                            </tr>
                            <tr>
                                <th scope="row">Malindo Air</th>
                                <td>OVF</td>
                                <td>3/18/2019</td>
                                <td>OEJ659</td>
                                <td>FLV014</td>
                                <td>6267</td>
                                <td>VAN847</td>
                                <td>HUP867-CIB986-JCH141</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                    <i class="fa fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                            <li class="page-item active"><a class="page-link" href="javascript:void(0)">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>